
<div class="modal fade" id="partInfoPopupModal" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog" style="background:transparent;">
        <h4 class="modal-header">Part Details</h4>
        <div id="partInfoContentDiv" >
            
        </div>
        <div style="height:400px; background:transparent;">            
        </div>
    </div>
</div>

