/* You can add global styles to this file, and also import other style files */

body{
    margin-left:15px;
    margin-right: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

input{
    padding:12px 12px;
    margin: 8px 0;
    border:1px solid;
    display: inline;
}
