
@{
    ViewBag.Title = "Delete Job";
}

<h2>DeleteJob</h2>

Mock #31 - popup dialog listing customer, job number, po number, with an entry field so that the User may enter Notes regarding why this job was cancelled/deleted.

NOTE That this is currently implemented in the JobDetail screen as a modal