<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JDsWebApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <add name="JDs" connectionString="Data Source=.\;Initial Catalog=JDsBabbittBearingDB;" providerName="System.Data.SqlClient" />
    <add name="JDsDBEntities" connectionString="metadata=res://*/JDsDB.csdl|res://*/JDsDB.ssdl|res://*/JDsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=JDsBabbittBearingDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <nlog autoload="true" throwExceptions="false" internalLogFile="internal.nlog.txt" internalLogLevel="Error" internalLogToConsole="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="Console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}">
        <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
        <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
        <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
        <highlight-row condition="level == LogLevel.Trace" foregroundColor="White" backgroundColor="Black" />
        <highlight-row condition="level == LogLevel.Error" foregroundColor="White" backgroundColor="Red" />
        <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
      </target>
      <target name="ActivityFile" type="File" fileName="${basedir}/App_Data/${shortdate}_Activities.txt" layout="${longdate}|Thread:${threadid}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" />
      <target name="TraceFile" type="File" fileName="${basedir}/App_Data/${shortdate}_Trace.txt" layout="${longdate}|Thread:${threadid}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" />
      <target name="EventLog" type="EventLog" source="Ever" log="Event" layout="${date}: ${message} ${stacktrace}" />
      <target name="ErrorFile" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
        <target xsi:type="File" fileName="${basedir}/App_Data/${shortdate}_Errors.txt" layout="${longdate}|Thread:${threadid}|${callsite}|${pad:padding=5:inner=${level:uppercase=true}}|${message} ${exception}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="Console" />
      <logger name="*" minlevel="Info" maxlevel="Info" writeTo="ActivityFile" />
      <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="TraceFile" />
      <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="ErrorFile" />
    </rules>
  </nlog>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="TwilioSid" value="AC4a2e49632116d24655ecc9d42c18f3fc" />
    <add key="TwilioToken" value="06c315c8abcc699a524a04a6d4eac482" />
    <add key="TwilioPhone" value="+19729921025" />
    <add key="StorageDirectory" value="_STORAGE"/>
  </appSettings>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1073741824" executionTimeout="3600"/>
    <httpModules></httpModules>

    <roleManager enabled="true" />

    <authentication mode="Forms">
      <forms name=".JDS" protection="All" cookieless="UseCookies" />
    </authentication>

  </system.web>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules></modules>
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
    </staticContent>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <JDsWebApp.Properties.Settings>
      <setting name="StartDayMonth1stPayPeriod" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="StartDayMonth2ndPayPeriod" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="BaseEmployeeFilesPathname" serializeAs="String">
        <value>~\App_Data\JDsFS\EmployeeFiles</value>
      </setting>
      <setting name="BaseEmployeeCertificates" serializeAs="String">
        <value>~\App_Data\JDsFS\EmployeeCertificates</value>
      </setting>
      <setting name="BasePartPhotos" serializeAs="String">
        <value>~\Uploads\PartPhotos</value>
      </setting>
      <setting name="TwilioSid" serializeAs="String">
        <value>AC4a2e49632116d24655ecc9d42c18f3fc</value>
      </setting>
      <setting name="TwilioToken" serializeAs="String">
        <value>06c315c8abcc699a524a04a6d4eac482</value>
      </setting>
      <setting name="TwilioPhone" serializeAs="String">
        <value>+9729921025</value>
      </setting>
    </JDsWebApp.Properties.Settings>
  </applicationSettings>
</configuration>
