@{
    ViewBag.Title = "FinishBoreProcess";
}

<script>
    function showSignOff() {
        $("#confirmDeleteModal").modal();
    }

</script>

<head>
    <title></title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<div class="container-fluid form-container">
    <link rel="stylesheet" href="site.css">
    <div class="row">

        @Html.Partial("SignOff")
        @Html.Partial("PartHeader")

        <!-- This is the floaty bit on the left --->
        <div class="container-fluid form-container col-md-3" id="partStepBar">
            <div class="partStep completedStep row">
                <div class="col-md-7 partStepText"><a href="/MockSlingerRing/IncomingInspection" class="partStepLink">Incoming Inspection</a></div>
                <span class="glyphicon glyphicon-ok col-md-2 partStepGlyph completeStepGlyph"></span>
            </div>

            <div class="partStep completedStep row">
                <div class="col-md-7 partStepText"><a href="/MockSlingerRing/MaterialPreparation" class="partStepLink">Material Preparation</a></div>
                <span class="glyphicon glyphicon-ok col-md-2 partStepGlyph completeStepGlyph"></span>
            </div>

            <div class="partStep completedStep row">
                <div class="col-md-7 partStepText"><a href="/MockSlingerRing/ManufacturingProcess" class="partStepLink">Manufacturing Process</a></div>
                <span class="glyphicon glyphicon-ok col-md-2 partStepGlyph completeStepGlyph"></span>
            </div>

            <div class="partStep activePartStep row">
                <div class="col-md-7 currentStep">Finish Bore Process</div>
                <span class="glyphicon glyphicon-arrow-right col-md-2 partStepGlyph activeStepGlyph"></span>
            </div>

            <div class="partStep row">
                <div class="col-md-7 incompleteStep">Final Inspection</div>
            </div>

            <div class="partStep row">
                <div class="col-md-7 incompleteStep">Delivery</div>
            </div>

            <div class="partStep row">
                <div class="col-md-7 incompleteStep">Sign off</div>
            </div>

        </div>

        <div class="container-fluid form-container col-md-9" style="">
            <form>

                <div class="row">
                    <h1 class="col-md-6">Job# 5913 - Slinger Ring</h1>
                    <h3 class="col-md-1" style="text-align:right">
                        <button class="btn" type="button" onclick="showPartDetails()" style="width:55px; margin-top:-10px; background-color:transparent">
                            <span class="glyphicon glyphicon-info-sign  activeStepGlyph"></span>
                            <span class="glyphicon glyphicon-chevron-down  activeStepGlyph"></span>
                        </button>
                    </h3>
                </div>

                <!-- Finish bored by-->
                <div class="row" style="margin-top:20px">
                    <div class="key-style col-md-4 ">
                        <label>Finish bored by:</label>
                    </div>

                    <div class="dropdown col-md-4">
                        <button class="btn btn-primary dropdown-toggle jd-combox-btn" type="button" data-toggle="dropdown">
                            <span class="caret" style="float:right; margin-top:7px;"></span>
                        </button>
                        <ul class="dropdown-menu" style="width:100%;">
                            <li><a href="#">FLORES, ALEX </a></li>
                            <li><a href="#">SHOWDY, SLIM</a></li>
                            <li><a href="#">GIGGS, RYAN</a></li>
                        </ul>
                    </div>

                    <div class="col-md-1">
                        <button class="btn" type="button" onclick="showSignOff()">Sign Off</button>
                    </div>

                </div>

                <!-- Deburred by-->
                <div class="row" style="margin-top:20px">
                    <div class="key-style col-md-4 ">
                        <label>Deburred by:</label>
                    </div>

                    <div class="dropdown col-md-4">
                        <button class="btn btn-primary dropdown-toggle jd-combox-btn" type="button" data-toggle="dropdown">
                            <span class="caret" style="float:right; margin-top:7px;"></span>
                        </button>
                        <ul class="dropdown-menu" style="width:100%;">
                            <li><a href="#">FLORES, ALEX </a></li>
                            <li><a href="#">SHOWDY, SLIM</a></li>
                            <li><a href="#">GIGGS, RYAN</a></li>
                        </ul>
                    </div>

                    <div class="col-md-1">
                        <button class="btn" type="button" onclick="showSignOff()">Sign Off</button>
                    </div>

                </div>


                <div class="row" style="margin-top:30px">
                    <div class="key-style col-md-12 " style="text-align:left;">
                        <label>Customer-specified sizes (for reference - these are entered on Incoming Inspection):</label>
                    </div>
                </div>

                <!-- Customer-specified-->
                <div class="row">
                    <div class="key-style col-md-2 ">
                        <label>ID:</label>
                    </div>
                    <div class="value-style col-md-2">
                        <input type="text" class="form-control" placeholder="A" readonly style="width:100%" />
                    </div>
                    <div class="value-style col-md-2">
                        <input type="text" class="form-control" placeholder="B" readonly style="width:100%" />
                    </div>
                    <div class="value-style col-md-2">
                        <input type="text" class="form-control" placeholder="C" readonly style="width:100%" />
                    </div>
                </div>

                <div class="row">
                    <div class="key-style col-md-2 ">
                        <label>OD:</label>
                    </div>
                    <div class="value-style col-md-2">
                        <input type="text" class="form-control" placeholder="A" readonly style="width:100%" />
                    </div>
                    <div class="value-style col-md-2">
                        <input type="text" class="form-control" placeholder="B" readonly style="width:100%" />
                    </div>
                    <div class="value-style col-md-2">
                        <input type="text" class="form-control" placeholder="C" readonly style="width:100%" />
                    </div>
                </div>

                <div class="row">
                    <div class="key-style col-md-2 ">
                        <label>Width:</label>
                    </div>
                    <div class="value-style col-md-2">
                        <input type="text" class="form-control" placeholder="A" readonly style="width:100%" />
                    </div>
                    <div class="value-style col-md-2">
                        <input type="text" class="form-control" placeholder="B" readonly style="width:100%" />
                    </div>
                    <div class="value-style col-md-2">
                        <input type="text" class="form-control" placeholder="C" readonly style="width:100%" />
                    </div>
                </div>

                <div class="row">
                    <div class="key-style col-md-6">
                        <label>Finish Bore Process approved by:</label>
                    </div>

                    <div class="dropdown col-md-3">
                        <button class="btn btn-primary dropdown-toggle jd-combox-btn" type="button" data-toggle="dropdown">
                            <span class="caret" style="float:right; margin-top:7px;"></span>
                        </button>
                        <ul class="dropdown-menu" style="width:100%;">
                            <li><a href="#">FLORES, ALEX </a></li>
                            <li><a href="#">SHOWDY, SLIM</a></li>
                            <li><a href="#">GIGGS, RYAN</a></li>
                        </ul>
                    </div>

                    <div class="col-md-1">
                        <button class="btn" type="button" onclick="showSignOff()">Sign Off</button>
                    </div>
                </div>

                <!-- save / cancel buttons-->
                <div class="row" style="margin-top:20px">
                    <div class="col-md-2 col-md-offset-8">
                        <button type="submit" class="btn btn-success" style="width:100%" id="saveBtn">Save</button>
                    </div>
                    <div class="col-md-2">
                        <button id="cancelBtn" type="submit" class="btn btn-danger" style="width:100%">Cancel</button>
                    </div>
                </div>



            </form>
        </div>
    </div>        
</div>

<script>
    $(document).ready(function () {

        $("#cancelBtn").click(function (e) {
            e.preventDefault();
            window.location.href = '/';
        });

        $("#saveBtn").click(function (e) {
            e.preventDefault();
            window.location.href = '/MockSlingerRing/FinalInspection';
        });
    });

</script>